workflows/n8n-reformed-questions-manual.json
{
  "name": "심기욱개인프로젝트_v2_manual_trigger",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -520
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sermons",
        "limit": 30
      },
      "id": "abda839c-6a2e-4c9c-b9b6-e7a799befaa7",
      "name": "Pending 1개 조회",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -696,
        -520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FxLPnVB7JVPJxciC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "532ba5fd-897d-4ab9-a5ac-504fc655d75e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0505896b-79c0-4e48-a062-ffbfbbb9e3ef",
      "name": "Pending 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -472,
        -520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sermons",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('처리 대상 선택').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "b401a386-66b1-44e1-8c65-b8acceceed4d",
      "name": "status → processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -248,
        -720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FxLPnVB7JVPJxciC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('처리 대상 선택').first().json;\n\nconst reference = item.reference || '';\nconst passage = item.passage || '';\nconst sTitle = item.sermon_title || '';\n\nlet outline = '';\nlet summaryInput = '';\nlet transcript = '';\nlet legacyPoints = '';\n\ntry {\n  const parsedPoints = item.sermon_points ? JSON.parse(item.sermon_points) : null;\n  if (parsedPoints && typeof parsedPoints === 'object') {\n    outline = parsedPoints.outline || '';\n    summaryInput = parsedPoints.summary || '';\n    transcript = parsedPoints.transcript || '';\n    legacyPoints = parsedPoints.legacy_points || '';\n  } else if (item.sermon_points) {\n    legacyPoints = item.sermon_points;\n  }\n} catch (e) {\n  legacyPoints = item.sermon_points || '';\n}\n\nconst lines = [\n  '너는 개혁주의 신학(성경의 충분성, 하나님의 주권, 인간의 죄성, 은혜 중심 구원, 그리스도 중심 해석)에 충실한 청년부 소그룹 질문 설계자다.',\n  '반드시 입력 본문/설교자료에 근거하여 작성하고, 추측 확장은 금지한다.',\n  '',\n  '[목표]',\n  '- 질문 수를 최소화하고 단락별로 깊이 집중한다.',\n  '- 질문 의도 설명(explanation) 없이, 질문 문장 자체에 맥락이 자연스럽게 드러나게 작성한다.',\n  '- 정죄형이 아니라 회개/믿음/순종/공동체 실천으로 이어지게 한다.',\n  '',\n  '[질문 생성 규칙]',\n  '- 최대 4개 섹션만 선택한다(핵심 단락 위주).',\n  '- 섹션당 질문은 1~2개만 생성한다.',\n  '- 전체 질문 수는 6개를 넘기지 않는다.',\n  '- 각 질문은 1문장, 길이 120자 내외.',\n  '- 질문 category는 observation|interpretation|gospel|application|community 중 하나.',\n  '',\n  '성경 구절: ' + reference,\n  sTitle ? ('설교 제목: ' + sTitle) : '',\n  outline ? ('설교 대지:\\n' + outline) : '',\n  summaryInput ? ('설교 요약:\\n' + summaryInput) : '',\n  transcript ? ('설교 원문:\\n' + transcript) : '',\n  legacyPoints ? ('추가 메모:\\n' + legacyPoints) : '',\n  '성경 본문(개역개정):',\n  passage,\n  '',\n  '[반환 형식: JSON만, 코드블록 금지]',\n  '{',\n  '  \"sermon_summary\": {',\n  '    \"key_point\": \"핵심 메시지 1문장\",',\n  '    \"overview\": \"전체 흐름 2~3문장\",',\n  '    \"sections\": [',\n  '      { \"title\": \"단락 제목\", \"content\": \"단락 요약 1~2문장\" }',\n  '    ]',\n  '  },',\n  '  \"questions\": {',\n  '    \"sections\": [',\n  '      {',\n  '        \"section_title\": \"단락/대지\",',\n  '        \"summary_anchor\": \"이 단락 핵심 1문장\",',\n  '        \"questions\": [',\n  '          {',\n  '            \"category\": \"observation|interpretation|gospel|application|community\",',\n  '            \"question\": \"맥락이 내재된 실제 나눔 질문 1문장\",',\n  '            \"scripture_anchor\": \"관련 구절\"',\n  '          }',\n  '        ]',\n  '      }',\n  '    ]',\n  '  }',\n  '}',\n  '',\n  '응답이 길어질 경우 섹션/질문 수를 줄여서라도 반드시 완전한 JSON 객체를 닫아서 반환하라.'\n];\n\nreturn [{\n  json: {\n    id: item.id,\n    userMsg: lines.filter(Boolean).join('\\n')\n  }\n}];"
      },
      "id": "99000c2c-a2f2-4616-a108-7483a189e976",
      "name": "프롬프트 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMsg }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        136,
        -520
      ],
      "id": "2e092e24-54dc-4552-8f2c-1b31e8758397",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "deploymentId": "claude-sonnet-4.6",
        "maxTokens": 8000
      },
      "type": "CUSTOM.thinqAI_ChatModel",
      "typeVersion": 1,
      "position": [
        120,
        -320
      ],
      "id": "11c1f19b-80b4-4c5b-a91c-8c3d4d40aae8",
      "name": "ThinQ AI - Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nfunction pickRaw(i) {\n  if (i.content?.[0]?.text) return i.content[0].text;\n  if (i.text) return i.text;\n  if (i.output) return i.output;\n  if (i.message) return i.message;\n  return JSON.stringify(i);\n}\n\nfunction extractJsonText(raw) {\n  let t = String(raw || '').trim();\n  t = t.replace(/^\\`\\`\\`json\\s*/i, '').replace(/^\\`\\`\\`\\s*/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  const first = t.indexOf('{');\n  const last = t.lastIndexOf('}');\n  if (first !== -1 && last !== -1 && last > first) t = t.slice(first, last + 1);\n  return t;\n}\n\nfunction repairJson(text) {\n  let t = text;\n  t = t.replace(/[“”]/g, '\"').replace(/[‘’]/g, \"'\");\n  t = t.replace(/,\\s*([}\\]])/g, '$1');\n  t = t.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F]/g, '');\n  return t;\n}\n\nconst raw = pickRaw(input);\nconst candidate = extractJsonText(raw);\nif (!candidate || candidate.indexOf('{') === -1 || candidate.lastIndexOf('}') === -1) {\n  throw new Error('truncated response: JSON 객체 경계를 찾지 못했습니다');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(candidate);\n} catch (e1) {\n  try {\n    parsed = JSON.parse(repairJson(candidate));\n  } catch (e2) {\n    throw new Error('JSON 파싱 실패: ' + e2.message + '\\n---원본 일부---\\n' + String(raw).slice(0, 700));\n  }\n}\n\nconst qRoot = parsed.questions || {};\nconst sections = Array.isArray(qRoot.sections) ? qRoot.sections : [];\n\nconst normalizedSections = sections\n  .map((sec, secIdx) => {\n    const title = sec?.section_title || sec?.title || sec?.topic || ('섹션 ' + (secIdx + 1));\n    const anchor = sec?.summary_anchor || sec?.summary || '';\n    const qList = Array.isArray(sec?.questions) ? sec.questions : [];\n\n    const normalizedQuestions = qList\n      .map((q) => {\n        if (typeof q === 'string') {\n          return { section_title: title, category: 'application', question: q, scripture_anchor: '' };\n        }\n        return {\n          section_title: title,\n          category: q?.category || q?.type || 'application',\n          question: q?.question || q?.text || q?.content || '',\n          scripture_anchor: q?.scripture_anchor || q?.anchor || ''\n        };\n      })\n      .filter((q) => q.question);\n\n    return { section_title: title, summary_anchor: anchor, questions: normalizedQuestions };\n  })\n  .filter((sec) => sec.questions.length > 0)\n  .slice(0, 4);\n\nlet count = 0;\nconst limitedSections = normalizedSections.map((sec) => {\n  const next = [];\n  for (const q of sec.questions) {\n    if (count >= 6) break;\n    next.push(q);\n    count += 1;\n  }\n  return { ...sec, questions: next };\n}).filter((sec) => sec.questions.length > 0);\n\nif (!limitedSections.length) {\n  throw new Error('유효한 sections/questions가 없습니다. 받은 키: ' + Object.keys(parsed).join(', '));\n}\n\nconst flattened = limitedSections.flatMap((sec) => sec.questions);\n\nconst summaryRaw = parsed.sermon_summary || {};\nconst sermon_summary = {\n  key_point: summaryRaw?.key_point || '',\n  overview: summaryRaw?.overview || '',\n  sections: Array.isArray(summaryRaw?.sections)\n    ? summaryRaw.sections.map((s) => ({ title: s?.title || '', content: s?.content || '' })).filter((s) => s.title || s.content)\n    : []\n};\n\nconst id = $('처리 대상 선택').first().json.id;\n\nreturn [{\n  json: {\n    id,\n    questions: {\n      sections: limitedSections,\n      flat: flattened,\n      meta: qRoot?.meta || {}\n    },\n    sermon_summary\n  }\n}];"
      },
      "id": "61d7c0a6-2cc1-4967-8028-dcf043ea9c4b",
      "name": "JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        -520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sermons",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "done"
            },
            {
              "fieldId": "questions",
              "fieldValue": "={{ JSON.stringify($json.questions) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "error_msg",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "sermon_summary",
              "fieldValue": "={{ JSON.stringify($json.sermon_summary) }}"
            }
          ]
        }
      },
      "id": "e799c14e-c983-44b2-afb9-bed6ee367fbd",
      "name": "status → done 저장",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        584,
        -520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FxLPnVB7JVPJxciC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json || {});\nconst now = Date.now();\nconst STALE_MIN = 10;\nconst staleMs = STALE_MIN * 60 * 1000;\n\nconst isPending = (r) => r?.status === 'pending';\nconst isStaleProcessing = (r) => {\n  if (r?.status !== 'processing') return false;\n  const t = r?.updated_at || r?.created_at;\n  if (!t) return true;\n  const ts = new Date(t).getTime();\n  if (Number.isNaN(ts)) return true;\n  return (now - ts) >= staleMs;\n};\n\nconst pending = rows\n  .filter(isPending)\n  .sort((a,b)=> new Date(a.created_at||0)-new Date(b.created_at||0));\n\nconst staleProcessing = rows\n  .filter(isStaleProcessing)\n  .sort((a,b)=> new Date(a.updated_at||a.created_at||0)-new Date(b.updated_at||b.created_at||0));\n\nconst target = pending[0] || staleProcessing[0];\n\nif (!target) return [];\n\nreturn [{ json: target }];"
      },
      "id": "pick-target-1",
      "name": "처리 대상 선택",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -584,
        -520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "수동 실행": {
      "main": [
        [
          {
            "node": "Pending 1개 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending 1개 조회": {
      "main": [
        [
          {
            "node": "처리 대상 선택",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending 있음?": {
      "main": [
        [
          {
            "node": "status → processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "프롬프트 생성",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "프롬프트 생성": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ThinQ AI - Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 파싱": {
      "main": [
        [
          {
            "node": "status → done 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "처리 대상 선택": {
      "main": [
        [
          {
            "node": "Pending 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "church"
    },
    {
      "name": "wordlife"
    }
  ]
}
