workflows/n8n-reformed-questions-manual.json
{
  "name": "심기욱개인프로젝트_v2_manual_trigger",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -520
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sermons",
        "limit": 30
      },
      "id": "abda839c-6a2e-4c9c-b9b6-e7a799befaa7",
      "name": "Pending 1개 조회",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -696,
        -520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FxLPnVB7JVPJxciC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "532ba5fd-897d-4ab9-a5ac-504fc655d75e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0505896b-79c0-4e48-a062-ffbfbbb9e3ef",
      "name": "Pending 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -472,
        -520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sermons",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('처리 대상 선택').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "b401a386-66b1-44e1-8c65-b8acceceed4d",
      "name": "status → processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -248,
        -720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FxLPnVB7JVPJxciC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('처리 대상 선택').first().json;\n\nconst reference = item.reference || '';\nconst passage = item.passage || '';\nconst sTitle = item.sermon_title || '';\n\nlet outline = '';\nlet summary = '';\nlet transcript = '';\nlet legacyPoints = '';\n\ntry {\n  const parsedPoints = item.sermon_points ? JSON.parse(item.sermon_points) : null;\n  if (parsedPoints && typeof parsedPoints === 'object') {\n    outline = parsedPoints.outline || '';\n    summary = parsedPoints.summary || '';\n    transcript = parsedPoints.transcript || '';\n    legacyPoints = parsedPoints.legacy_points || '';\n  } else if (item.sermon_points) {\n    legacyPoints = item.sermon_points;\n  }\n} catch (e) {\n  legacyPoints = item.sermon_points || '';\n}\n\nconst lines = [\n  '너는 개혁주의 신학(성경의 충분성, 하나님의 주권, 인간의 전적 타락, 오직 은혜, 오직 그리스도)에 충실한 청년부 소그룹 교재 작성 보조자입니다.',\n  '모든 출력은 반드시 존댓말로 작성해 주세요.',\n  '',\n  '[절대 원칙]',\n  '1) 반드시 입력된 성경본문/설교대지/설교요약/설교원문에 근거해서만 작성해 주세요.',\n  '2) 추측, 과장, 근거 없는 적용은 금지해 주세요.',\n  '3) 설교를 듣지 못한 분도 요약만 읽고 핵심 흐름을 이해할 수 있도록 충분히 설명해 주세요.',\n  '4) 질문은 짧은 한 줄 질문만 쓰지 말고, 반드시 배경설명(2~4문장) + 실제 질문(1문장)으로 작성해 주세요.',\n  '5) 모든 문장은 존댓말로 작성해 주세요.',\n  '6) 응답이 길어질 경우 섹션 수를 줄여서라도 반드시 완전한 단일 JSON 객체를 닫아서 반환해 주세요.',\n  '7) 설교 원문은 STT(음성인식) 변환본일 수 있으므로, 단어/표현이 어색하거나 잘못 들린 부분은 성경본문, 설교 제목, 설교 대지를 우선 기준으로 보정해 이해해 주세요.',\n  '8) 다만 핵심 메시지, 논리 전개, 강조점, 적용 방향은 가능한 한 설교 원문에 담긴 실제 흐름을 중심으로 요약해 주세요.',\n  '9) 즉 용어와 표현의 기준은 성경본문/설교대지에 두고, 전체 흐름과 강조는 설교 원문에 두어 정리해 주세요.',\n  '',\n  '[자료 우선순위]',\n  '1) 용어 보정/성경적 표현/핵심 단어: 성경본문 > 설교 제목 > 설교 대지 > 설교 요약 > 설교 원문(STT) > 추가 메모',\n  '2) 전체 흐름/강조점/전개 순서/목회적 적용: 설교 원문(STT) > 설교 요약 > 설교 대지 > 성경본문',\n  '3) 설교 원문에 모호하거나 잘못 들린 표현이 있으면, 본문과 대지에 맞는 가장 자연스럽고 신학적으로 안전한 표현으로 정리해 주세요.',\n  '',\n  '[표현 규칙]',\n  '1) \"설교는\", \"설교에서\", \"설교가\" 같은 표현은 사용하지 말아 주세요.',\n  '2) 대신 \"말씀은\", \"본문은\", \"오늘 본문은\", \"해당 구절은\" 등의 표현을 사용해 주세요.',\n  '3) 가능하면 출처 표시는 최소화하고, 질문 자체가 자연스럽게 이어지도록 작성해 주세요.',\n  '4) explanation/question/summary 전체에 동일하게 적용해 주세요.',\n  '',\n  '성경 구절: ' + reference,\n  sTitle ? ('설교 제목: ' + sTitle) : '',\n  outline ? ('설교 대지:\\n' + outline) : '',\n  summary ? ('설교 요약:\\n' + summary) : '',\n  transcript ? ('설교 원문(STT 전사본):\\n' + transcript) : '',\n  legacyPoints ? ('추가 메모(하위호환):\\n' + legacyPoints) : '',\n  '성경 본문(개역개정):',\n  passage,\n  '',\n  '[말씀 요약 작성 기준 - sermon_summary]',\n  '- sermon_summary는 가능한 한 설교자가 실제로 전한 흐름과 강조를 살려, 설교 중심으로 정리해 주세요.',\n  '- key_point: 설교 전체 핵심 메시지를 2~3문장으로 작성해 주세요. 문장 속 핵심 용어는 성경본문/설교대지 기준으로 다듬어 주세요.',\n  '- overview: 설교 흐름을 6~10문장으로 자세히 설명해 주세요. 단순 본문 요약보다, 설교가 어떤 순서로 무엇을 강조했는지가 드러나야 합니다.',\n  '- sections: 가능하면 설교 대지를 기준으로 구성하되, 실제 설교 흐름상 더 자연스러운 구간이 있으면 그 흐름을 반영해도 됩니다.',\n  '- sections[].title은 성경본문/설교대지 기준 표현을 우선 사용해 주세요.',\n  '- sections[].content는 해당 대지 또는 흐름 단락의 핵심 설명을 5~8문장으로 작성해 주세요.',\n  '- sections[].content에는 단순 정보 나열보다, 설교자가 왜 이 내용을 강조했는지와 성도에게 어떤 방향으로 적용했는지가 드러나야 합니다.',\n  '- 설교에서 강조된 복음적 의미(죄 인식, 은혜, 그리스도의 사역, 순종의 방향)를 포함해 주세요.',\n  '',\n  '[나눔 질문 작성 기준 - questions.sections[].questions[]]',\n  '- 각 섹션당 2~3문항을 작성해 주세요.',\n  '- 각 문항은 category, explanation, question, scripture_anchor를 반드시 포함해 주세요.',\n  '- explanation에는 설교/본문의 어떤 내용을 근거로 한 질문인지 2~4문장으로 작성해 주세요.',\n  '- explanation도 가능하면 설교의 실제 강조와 적용 흐름을 따라가 주세요.',\n  '- question은 나눔용 실제 질문 1문장(존댓말)으로 작성해 주세요.',\n  '- 질문은 정답형이 아니라 자기 성찰과 삶의 적용, 공동체적 책임으로 이어지게 해 주세요.',\n  '',\n  '[출력 형식]',\n  '반드시 JSON만 반환해 주세요. 코드블록, 설명문, 주석은 금지합니다.',\n  '금지어 치환 규칙: 최종 출력 문자열 어디에도 \"설교는/설교에서/설교가\"를 포함하지 마세요.',\n  '{',\n  '  \"sermon_summary\": {',\n  '    \"key_point\": \"...\",',\n  '    \"overview\": \"...\",',\n  '    \"sections\": [',\n  '      { \"title\": \"...\", \"content\": \"...\" }',\n  '    ]',\n  '  },',\n  '  \"questions\": {',\n  '    \"sections\": [',\n  '      {',\n  '        \"section_title\": \"...\",',\n  '        \"summary_anchor\": \"...\",',\n  '        \"questions\": [',\n  '          {',\n  '            \"category\": \"관찰\",',\n  '            \"explanation\": \"...\",',\n  '            \"question\": \"...\",',\n  '            \"scripture_anchor\": \"...\"',\n  '          }',\n  '        ]',\n  '      }',\n  '    ],',\n  '    \"meta\": {',\n  '      \"theological_focus\": [\"...\"],',\n  '      \"application_focus\": [\"...\"]',\n  '    }',\n  '  }',\n  '}'\n];\n\nreturn [{\n  json: {\n    id: item.id,\n    userMsg: lines.filter(Boolean).join('\\n')\n  }\n}];\n"
      },
      "id": "99000c2c-a2f2-4616-a108-7483a189e976",
      "name": "프롬프트 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMsg }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        136,
        -520
      ],
      "id": "2e092e24-54dc-4552-8f2c-1b31e8758397",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "deploymentId": "claude-sonnet-4.6",
        "maxTokens": 8000
      },
      "type": "CUSTOM.thinqAI_ChatModel",
      "typeVersion": 1,
      "position": [
        120,
        -320
      ],
      "id": "11c1f19b-80b4-4c5b-a91c-8c3d4d40aae8",
      "name": "ThinQ AI - Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nfunction pickRaw(i) {\n  if (i.content && i.content[0] && i.content[0].text) return i.content[0].text;\n  if (i.text) return i.text;\n  if (i.output) return i.output;\n  if (i.message) return i.message;\n  return JSON.stringify(i);\n}\n\nfunction extractJsonText(raw) {\n  let t = String(raw || '').trim();\n  t = t.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  const first = t.indexOf('{');\n  const last = t.lastIndexOf('}');\n  if (first !== -1 && last !== -1 && last > first) t = t.slice(first, last + 1);\n  return t;\n}\n\nfunction repairJson(text) {\n  let t = text;\n  t = t.replace(/[“”]/g, '\"').replace(/[‘’]/g, \"'\");\n  t = t.replace(/,\\s*([}\\]])/g, '$1');\n  t = t.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F]/g, '');\n  return t;\n}\n\nconst raw = pickRaw(input);\nconst candidate = extractJsonText(raw);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(candidate);\n} catch (e1) {\n  try {\n    parsed = JSON.parse(repairJson(candidate));\n  } catch (e2) {\n    throw new Error('JSON 파싱 실패: ' + e2.message + '\\n---원본 일부---\\n' + String(raw).slice(0, 700));\n  }\n}\n\nconst summaryRaw = parsed.sermon_summary || {};\nconst sermon_summary = {\n  key_point: summaryRaw.key_point || summaryRaw.keyPoint || '',\n  overview: summaryRaw.overview || '',\n  sections: Array.isArray(summaryRaw.sections)\n    ? summaryRaw.sections.map(function(s){ return { title: (s && s.title) || '', content: (s && s.content) || '' }; })\n    : []\n};\n\nconst qRoot = parsed.questions || parsed;\nlet sections = [];\nif (Array.isArray(qRoot && qRoot.sections)) {\n  sections = qRoot.sections;\n} else if (Array.isArray(qRoot)) {\n  sections = [{ section_title: '통합 나눔', summary_anchor: '', questions: qRoot }];\n}\n\nconst normalizedSections = sections\n  .map(function(sec, secIdx) {\n    const title = (sec && (sec.section_title || sec.title || sec.topic)) || ('섹션 ' + (secIdx + 1));\n    const anchor = (sec && (sec.summary_anchor || sec.summary)) || '';\n    const qList = Array.isArray(sec && sec.questions) ? sec.questions : [];\n\n    const normalizedQuestions = qList\n      .map(function(q) {\n        if (typeof q === 'string') {\n          return {\n            section_title: title,\n            category: '적용',\n            explanation: '',\n            question: q,\n            scripture_anchor: ''\n          };\n        }\n        return {\n          section_title: title,\n          category: (q && (q.category || q.type)) || '적용',\n          explanation: (q && (q.explanation || q.context)) || '',\n          question: (q && (q.question || q.text || q.content)) || '',\n          scripture_anchor: (q && (q.scripture_anchor || q.anchor)) || ''\n        };\n      })\n      .filter(function(q){ return q.question; });\n\n    return {\n      section_title: title,\n      summary_anchor: anchor,\n      questions: normalizedQuestions\n    };\n  })\n  .filter(function(sec){ return sec.questions.length > 0; });\n\nif (!normalizedSections.length) {\n  throw new Error('유효한 sections/questions가 없습니다. 받은 키: ' + Object.keys(parsed).join(', '));\n}\n\nconst flattened = normalizedSections.reduce(function(acc, sec){ return acc.concat(sec.questions); }, []);\nconst questions = {\n  sections: normalizedSections,\n  flat: flattened,\n  meta: (qRoot && qRoot.meta) || {}\n};\n\nconst id = $('처리 대상 선택').first().json.id;\n\nreturn [{\n  json: {\n    id: id,\n    sermon_summary: sermon_summary,\n    questions: questions\n  }\n}];\n"
      },
      "id": "61d7c0a6-2cc1-4967-8028-dcf043ea9c4b",
      "name": "JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        -520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sermons",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "done"
            },
            {
              "fieldId": "questions",
              "fieldValue": "={{ JSON.stringify($json.questions) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "error_msg",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "sermon_summary",
              "fieldValue": "={{ JSON.stringify($json.sermon_summary) }}"
            }
          ]
        }
      },
      "id": "e799c14e-c983-44b2-afb9-bed6ee367fbd",
      "name": "status → done 저장",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        584,
        -520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FxLPnVB7JVPJxciC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json || {});\nconst now = Date.now();\nconst STALE_MIN = 10;\nconst staleMs = STALE_MIN * 60 * 1000;\n\nconst isPending = (r) => r?.status === 'pending';\nconst isStaleProcessing = (r) => {\n  if (r?.status !== 'processing') return false;\n  const t = r?.updated_at || r?.created_at;\n  if (!t) return true;\n  const ts = new Date(t).getTime();\n  if (Number.isNaN(ts)) return true;\n  return (now - ts) >= staleMs;\n};\n\nconst pending = rows\n  .filter(isPending)\n  .sort((a,b)=> new Date(a.created_at||0)-new Date(b.created_at||0));\n\nconst staleProcessing = rows\n  .filter(isStaleProcessing)\n  .sort((a,b)=> new Date(a.updated_at||a.created_at||0)-new Date(b.updated_at||b.created_at||0));\n\nconst target = pending[0] || staleProcessing[0];\n\nif (!target) return [];\n\nreturn [{ json: target }];"
      },
      "id": "pick-target-1",
      "name": "처리 대상 선택",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -584,
        -520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "수동 실행": {
      "main": [
        [
          {
            "node": "Pending 1개 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending 1개 조회": {
      "main": [
        [
          {
            "node": "처리 대상 선택",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending 있음?": {
      "main": [
        [
          {
            "node": "status → processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "프롬프트 생성",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "프롬프트 생성": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ThinQ AI - Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 파싱": {
      "main": [
        [
          {
            "node": "status → done 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "처리 대상 선택": {
      "main": [
        [
          {
            "node": "Pending 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "church"
    },
    {
      "name": "wordlife"
    }
  ]
}
